<head>
  <title>Dev Mind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700" rel="stylesheet"> 
</head>

<body>
  {{>navbar}}
  {{>banner}}
  {{>tecnologia}}
  {{>assuntos}}
</body>