.tituloSecao{
    font-family: 'Montserrat', sans-serif;
    font-weight:medium;
    font-size:25px;
    text-transform: uppercase;
    text-align: center;
    margin-top:2%;
    color:gray;
}


.tecnologias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 10;
    margin-bottom:5%;
}

.tituloInformacoes{
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    text-transform: uppercase;
    font-size:18px;
}

.tituloFrase{
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    text-transform: uppercase;
    font-size:14px;
}