<template name="tecnologia">
    <h1 class="tituloSecao">Tecnologias</h1>
    <div class="container tecnologias">
        <img class="wow rubberBand" src="tecnologia/html5.png" alt="HTML5">
        <img class="wow rubberBand" src="tecnologia/css3.png" alt="css3">
        <img class="wow rubberBand" src="tecnologia/js.png" alt="js">
        <img class="wow rubberBand" src="tecnologia/nodejs.png" alt="nodejs">
        <img class="wow rubberBand" src="tecnologia/mongodb.png" alt="nodejs">
        <img class="wow rubberBand" src="tecnologia/reactjs.png" alt="reactjs">
        <a data-toggle="collapse" data-target="#fraseEfeito" class="tituloInformacoes">+EXTRA</a>
        <p id="fraseEfeito" class="collapse in tituloFrase">Utilizamos as melhores tecnologias para construção dos nossos projetos</p>
    </div>
</template>