body, html{
    padding:0;
    overflow-x: hidden;
}

.navbar-toggler{
    color:#ffff!important;
    background-color:#ffff!important;
}

.bg-light{
    background-color: transparent !important;
}

nav{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight:thin;
    text-transform: uppercase;
    font-size:14px;
    transition: 1s;
}

.bg-scrolled{
    background-color: #2b2e39!important;
    opacity:.8;
}

.navScrolled{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight:bolder;
    text-transform: uppercase;
    font-size:14px;
    transition:1s;
}

.nav-link{
    color: white!important;
}


.inputStyle{
    width:70%;
}
