<template name="navbar">

        <nav id="my-nav" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="logoStaticRed.png" alt="logo"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Fale Conosco</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Portfólio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">{{>loginButtons}}</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control inputStyle mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn buttonStyle btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>

</template>