.tituloAssuntos{
    font-family: 'Montserrat', sans-serif;
    font-weight:medium;
    font-size:25px;
    text-transform: uppercase;
    text-align: center;
    margin-top:2%;
    color:gray!important;
}

.gamerscard{
    background-image: url(assuntos/folha.jpg);
    background-size: cover;
    filter: saturate(105%);
}

.card-portfolio{
    width: 300px;
    height: 300px;
    border-style: 5px solid black;
}

.logoTecnologia{
    position: absolute;
    width:20%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-portfolio:hover{
    transition: 1s;
}

.card-portfolio h6{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-portfolio p{
    opacity: .0;
    font-size: 16px;
    margin: auto;
    text-transform: uppercase;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}