<template name="assuntos">
    
    <h1 class="tituloAssuntos">PORTFÓLIO</h1>
    
    <div class="card-portfolio gamerscard">
        <h6>GAMERSCARD</h6>
        <p>Realizei a migração do template estático para dinâmico através do react</p>
        <img class="logoTecnologia" src="/tecnologia/reactjs.png" alt="logo react">
    </div>
    
    
</template>