.parallax {
    /* The image used */
    background-image: url("empresa.png");
  
    /* Set a specific height */
    height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto{
    position: absolute;
    z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subTitulo{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 10;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #2d2d2d;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 8px #2d2d2d;
}

.btnPortfolio{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width:50%;
    height:50px;
    border-radius:0;
    text-transform: uppercase;
    font-weight: medium;
}

/* PARA TABLETS */
@media screen and (max-width: 992px) {

    .parallax{
        height:900px;
    }

    .subTitulo{
        margin-left:16%;
    }
}
  
  /* PARA CELULARES */
  @media screen and (max-width: 600px) {


}