<template name="banner">
    
    <main>

        <div>
            <div class="texto" id="parallaxBar">
                <h2 class="subTitulo">Conheça nosso trabalho</h2>
                <h1 class="titulo">portfólio</h1>
                <button type="button" class="btn btnPortfolio btn-danger">Portfólio</button>
            </div>
            <div class="parallax"></div>
        </div>
        
    </main>

</template>